ComparativaAlgoritmos.pdf
ComparativaAlgoritmos.synctex.gz
ComparativaAlgoritmos.tex
reporte_quicksort.synctex.gz
reporte_quicksort.aux
reporte_quicksort.bbl
reporte_quicksort.blg
reporte_quicksort.log
reporte_quicksort.out
quicksort.pptx
_minted/
Qsort/.vs/
Qsort/bin/
Qsort/obj/
Qsort/Qsort.csproj
Qsort/Qsort.sln
Qsort/bin/Debug/net8.0/experimento1_aleatorio.csv
Qsort/bin/Debug/net8.0/experimento1_ordenado.csv
Qsort/bin/Debug/net8.0/experimento2_aleatorio.csv
Qsort/bin/Debug/net8.0/experimento2_ordenado.csv
Qsort/bin/Debug/net8.0/Qsort.deps.json
Qsort/bin/Debug/net8.0/Qsort.dll
Qsort/bin/Debug/net8.0/Qsort.exe
Qsort/bin/Debug/net8.0/Qsort.pdb
Qsort/bin/Debug/net8.0/Qsort.runtimeconfig.json
sorting_algorithms.ipynb
test.ipynb